@{Layout="_Layout";}

@model TreatShop.Models.Flavor

<h1>Treats listed under @Model.Name</h1>

@foreach(var join in Model.Treats)
{
  <p>@join.Treat.Name</p>
}

@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
  <hr>
  <p>@Html.ActionLink($"Add a new flavor", "Create", null, null, new {@class = "btn btn-warning"})</p>
}