@{Layout="_Layout";}

@model List<TreatShop.Models.Flavor>
@using TreatShop.Models

<h1>Flavors of the treats in house</h1>

@foreach(Flavor flavor in Model)
{
  <p>@Html.ActionLink($"{@flavor.Name}", "Details", null, new {id = flavor.FlavorId}, new {@class = "btn btn-warning"})</p>
}