@{Layout="_Layout";}

@model List<TreatShop.Models.Treat>
@using TreatShop.Models

<h1>Our Treats</h1>

@foreach(Treat treat in Model)
{
  <p>@Html.ActionLink($"{treat.Name}", "Details", null, new {id = treat.TreatId}, new {@class = "btn btn-warning"})</p>
}